include README.md
include LICENSE
include Makefile
include requirements*.txt
include binder/*
include datasets/*
include docs/notebooks/README.md docs/notebooks/*.ipynb
exclude docs/notebooks/non-dist/*
include scripts/*
include tests/hub/* tests/project/* tests/token/*
include images/* demo.ipynb
exclude non-dist/*
exclude ort
include config/logconfig.json
